aiohttp
aiofiles
aioshutil
anytree
apscheduler
aria2p
asyncio
beautifulsoup4
imdbinfo
cinemagoer
cloudscraper
cryptography
dnspython
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
langcodes[data]
lxml
motor
mutagen
markdown
natsort
pytz
pillow
psutil
pybase64
pycountry
pymongo
kurigram
python-dotenv
python-magic
qbittorrent-api
requests
telegraph
tenacity
tgcrypto
uvloop==0.21.0
xattr
