aiohttp
aiofiles
aioshutil
anytree==2.8.0
apscheduler
aria2p
beautifulsoup4
imdbinfo
cloudscraper
cryptography
dnspython
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
langcodes[data]
lxml
natsort
pytz
pillow
psutil
pymongo
kurigram
python-dotenv
python-magic
qbittorrent-api
requests
telegraph
tenacity
tgcrypto
uvloop==0.21.0
